# Backend API URL
NEXT_PUBLIC_API_URL=
# OAuth Cookie Nmae
NEXT_PUBLIC_AUTH_COOKIE_NAME=
# Product Frontend URL
NEXT_PUBLIC_APP_URL=
# Landing Page Frontend URL
NEXT_PUBLIC_WEBSITE_URL=
# Google App Script I18n URL
GAS_I18N_URL=
