{
  "env": {
    "browser": true,
    "es2023": true,
    "node": true
  },
  "extends": ["airbnb", "plugin:@typescript-eslint/recommended"],
  "ignorePatterns": [
    "*.config.js",
    "*.config.ts",
    ".eslintrc.js",
    ".next",
    "dist",
    "generated",
    "next-sitemap.js",
    "node_modules",
    "out",
    "pages", // 重構到 app route，忽略 pages route
    "services/**/*.ts", // @TODO: services 下的 API 檔案將要移除，重構完成後再調整設定檔
    "!services/fetcher.ts",
    "server.js"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2023,
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "plugins": [
    "@next/next",
    "@typescript-eslint",
    "import",
    "react",
    "react-hooks"
  ],
  "rules": {
    "@typescript-eslint/no-require-imports": "error",
    "@typescript-eslint/no-shadow": "error",
    "arrow-body-style": "off",
    "camelcase": "off",
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "implicit-arrow-linebreak": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["./*.ts"]
      }
    ],
    "import/prefer-default-export": "off",
    "max-len": "off",
    "no-console": "off",
    "no-nested-ternary": "off", // 待調整，暫時允許巢狀三元運算子
    "no-underscore-dangle": "off",
    "operator-linebreak": ["error", "after", { 
      "overrides": { 
        "?": "before", 
        ":": "before" 
      } 
    }],
    "quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/no-unescaped-entities": "off",
    "react/no-unknown-property": [
      "error",
      {
        "ignore": ["cmdk-empty", "cmdk-input-wrapper"]
      }
    ],
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "map": [["@", "."]]
      },
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
